# Copy this file to .env and update values for your environment
SPRING_PROFILES_ACTIVE=dev
DB_URL=jdbc:mysql://localhost:3306/loan_management
DB_USERNAME=root
DB_PASSWORD=root
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
APP_DOMAIN_URL=http://localhost:3000
